<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/leaflet.css">
    <link rel="stylesheet" href="/static/uPlot.min.css">
    <link rel="stylesheet" href="/static/gastrak.css">
    <title>gastrak</title>
</head>
<body>
    <div id="map"></div>
    <dialog id="history"></dialog>
    <script>
        let gastrak = {
            "Time": {{.Time}},
            "Latitude": {{.Latitude}},
            "Longitude": {{.Longitude}},
            "Data": {{.Data}},
        };
    </script>
    <script src="/static/leaflet.js"></script>
    <script src="/static/uPlot.iife.min.js"></script>
    <script src="/static/gastrak.js"></script>
</body>
</html>
